<div
  class="ui-field"
  [class.ui-field--invalid]="!!getErrorMessage()"
  [class.ui-field--dynamic]="subscriptSizing === 'dynamic'"
>
  <fieldset class="ui-field__control">
    @if (label) {
      <legend class="ui-field__label">
        {{ displayLabel }}
        <span *ngIf="showRequiredMarker" class="required-marker">*</span>
      </legend>
    }

    <span *ngIf="prefixIcon" class="ui-field__icon" aria-hidden="true">{{ prefixIcon }}</span>

    @if (form) {
      <div class="password-field__form-control" [formGroup]="form">
        <input
          class="ui-field__input"
          [id]="controlName"
          [type]="isPasswordHidden ? 'password' : 'text'"
          [formControlName]="controlName"
          [placeholder]="fieldPlaceholder"
          [attr.aria-invalid]="!!getErrorMessage()"
        />
      </div>
    } @else {
      <input
        class="ui-field__input"
        [id]="controlName"
        [type]="isPasswordHidden ? 'password' : 'text'"
        [value]="value()"
        [disabled]="isDisabled"
        [placeholder]="fieldPlaceholder"
        [attr.aria-invalid]="!!getErrorMessage()"
        (input)="onSignalInput($event)"
        (blur)="onSignalBlur()"
      />
    }

    <button
      type="button"
      class="password-field__toggle"
      [attr.aria-label]="isPasswordHidden ? 'Mostrar senha' : 'Ocultar senha'"
      (click)="toggleVisibility()"
    >
      <ng-icon [name]="isPasswordHidden ? showPasswordIcon : hidePasswordIcon" aria-hidden="true" />
    </button>
  </fieldset>

  <div class="ui-field__error" role="alert">{{ getErrorMessage() }}</div>
</div>
