<div class="search-container" [formGroup]="form">
  <div class="search-field" [class.search-field--invalid]="!!getErrorMessage()">
    @if (label) {
      <label class="search-field__label" [for]="controlName">
        {{ displayLabel }}
        <span *ngIf="showRequiredMarker" class="required-marker">*</span>
      </label>
    }
    <span class="search-field__icon" aria-hidden="true">
      <ng-icon [name]="prefixIcon" />
    </span>
    <input
      [id]="controlName"
      type="search"
      [formControlName]="controlName"
      [placeholder]="fieldPlaceholder"
    />
    <span *ngIf="suffixIcon" class="search-field__suffix" aria-hidden="true">{{ suffixIcon }}</span>
  </div>
</div>
